<!DOCTYPE html>
<html>
    <head>
        <meta name="layout" content="\${layoutUi}" />
        <s2ui:title messageCode='default.edit.label' entityNameMessageCode='${camelCaseSaName}.label' entityNameDefault='${saClassName}'/>
    </head>
    <body>
        <div id="edit-${camelCaseSaName}" role="main">
            <g:hasErrors bean="\${this.${camelCaseSaName}}">
            <div class="alert alert-danger" role="alert">
                <ul class="mb-0">
                    <g:eachError bean="\${this.${camelCaseSaName}}" var="error">
                    <li <g:if test="\${error in org.springframework.validation.FieldError}">data-field-id="\${error.field}"</g:if>><g:message error="\${error}"/></li>
                    </g:eachError>
                </ul>
            </div>
            </g:hasErrors>
            <s2ui:formContainer type='update' beanType='${camelCaseSaName}' focus='myQuestion1' width='40rem'>
                <s2ui:form useToken="true">
                    <% for(int i=1; i <= numberOfQuestions.toInteger(); i++) {  %>
                    <s2ui:textFieldRow name='myQuestion${i}' labelCodeDefault='myQuestion${i}'/>
                    <s2ui:textFieldRow name='myAnswer${i}' labelCodeDefault='myAnswer${i}'/>
                    <%  } %>
                    <s2ui:selectRow name='${userPropName}.id' from='\${users}' labelCodeDefault='${userPropName}' optionValue='\${lookupProp}' />
                    <div class="d-flex gap-2">
                        <s2ui:submitButton/>
                        <s2ui:deleteButton/>
                    </div>
                </s2ui:form>
            </s2ui:formContainer>
            <s2ui:deleteButtonForm instanceId='\${${camelCaseSaName}.id}' useToken="true"/>
        </div>
    </body>
</html>
