description: Second configuration of Redis
dependencies:
    - scope: implementation
      coords: "org.apache.grails:grails-spring-security-rest-redis:${pluginVersion}"
    - scope: implementation
      coords: "org.apache.grails:grails-redis:5.0.0"