description: First configuration of Grails Data Mapping
dependencies:
    - scope: build
      coords: "org.apache.grails:grails-data-hibernate5"
    - scope: implementation
      coords: "org.apache.grails:grails-data-hibernate5"
    - scope: implementation
      coords: "org.apache.grails:grails-spring-security-rest-datamapping:${pluginVersion}"
    - scope: runtimeOnly
      coords: "com.h2database:h2"
    - scope: runtimeOnly
      coords: "com.zaxxer:HikariCP"
